

__pycache__/
*.py[cod]
/*.coverage
/tiny_gateway.egg-info/
/.venv/

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.*coverage
.cache
nosetests.xml
coverage.xml